{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}">
{% endblock %}

{% block main %}
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            {% if profile.image %}
                                <img src="{{ profile.image.url }}" alt="..." width="130"
                                     class="rounded mb-2 img-thumbnail">
                            {% else %}
                                <img src="{% static 'profile/default_profile.png' %}" alt="..." width="130"
                                     class="rounded mb-2 img-thumbnail">

                            {% endif %}
                            <button class="btn btn-outline-light btn-sm btn-block" type="button" data-toggle="collapse"
                                    data-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Edit Profile
                            </button>
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">{{ profile.full_name }}</h4>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">

                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <span class="font-weight-bold mb-0 d-block">{{ user.profile.email }}</span>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user_images }}</h5><small class="text-muted">
                            <i
                                    class="fas fa-image mr-1"></i>Photos</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user_comments }}</h5><small class="text-muted">
                            <i class="fas fa-user mr-1"></i>Comments</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user_liked }}</h5><small class="text-muted"> <i
                                class="fas fa-user mr-1"></i>Liked</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Recent photos</h5><a href="{% url 'user photos' %}"
                                                              class="btn btn-link text-muted">Show all</a>
                    </div>
                    <div class="row">
                        {% for photo in recent_photos %}
                            <div class="col-lg-6 mb-2 pr-lg-1">
                                <img src="{{ photo.image.url }}" alt="" class="cover-image img-fluid rounded shadow-sm">
                            </div>
                        {% endfor %}

                    </div>
                    <div class="collapse" id="collapseExample" href="id_open">
                        <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}

                            {% if profile.image %}
                                <div class="form-check mt-1">
                                    <input class="form-check-input" type="checkbox" name='delete_image'
                                           id="delete_image">
                                    <label class="form-check-label" for="delete_image">
                                        Delete Image
                                    </label>
                                </div>
                            {% else %}
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name='delete_image'
                                           id="delete_image"
                                           disabled>
                                    <label class="form-check-label" for="delete_image">
                                        Delete Image
                                    </label>
                                </div>
                            {% endif %}
                            <button class='btn btn-outline-dark mt-5'>Update</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}