{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'home_gallery/gallery.css' %}">
{% endblock %}

{% block main %}
    <div class="masonry-grid mt-4">
        {% for photo in photos %}
            <div class="masonry-grid__item">
{#                <a href="{% url 'photo detail' photo.id %}">#}
                    <img src="{{ photo.image.url }}"
                         class="resized" alt=""/>
{#                </a>#}
            </div>
        {% endfor %}
    </div>
{% endblock %}