services:
    django_app:
        build: .
        ports:
            - 8000:8000
        depends_on:
            - postgres
        command: sh -c "sleep 10 && python manage.py runserver 0.0.0.0:8000"

        volumes:
            - media:/app/media
    postgres:
        image: postgres:17
        container_name: postgres
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_DB=postgres
            - POSTGRES_PASSWORD=postgres
        volumes:
            - postgresql_data:/var/lib/postgresql/data
    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin
        restart: always
        ports:
        - "8080:80"  # access pgAdmin at http://localhost:8080
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: admin
        depends_on:
            - postgres
volumes:
    media:
    postgresql_data: